:root {
  --clr: #222327;
  --larg_min_tela: 720px;
  --larg_card: 310px;
  --larg_card_wrapper: 350px;
}

* {
  /* Impede Seleccção e Copia */
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  
  background-color: var(--clr);
}

html {
  font-family: Arial;
  display: inline-block;
  text-align: center;
}

p {
  font-size: 1.2rem;
}

.div_geral {  
  padding: 0px;
  height: 98vh; 
  overflow: auto;  
}

.card {  
  max-height: 150px;
  background-color: white;
  box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, .5);
  transition: 0.3s;
  border-radius: 5px;    
}

#cards_container {   
  max-width: 700px; 
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  
  align-items: center; 
}

.reading {
  font-size: 2.8rem;
}

.packet {
  color: #bebebe;
}

.card.temperature {
  color: #fd7e14;
}

.card.humidity {
  color: #1b78e2;
}



